{% extends 'base.html.twig' %}

{% block title %}Главнвя{% endblock %}
{% block body %}

<div id="map"></div>
<div id = "menu">
    <a id="groups_button" href="#">Показать группы</a>
</div>


{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="assets/css/index/main.css" />
{% endblock %}

{% block javascripts %}
<script src="https://api-maps.yandex.ru/2.1/?apikey=f76aeeaf-a382-46ed-b7f2-4927d286276c&lang=ru_RU" type="text/javascript"></script>
<script src="assets/js/index/map.js"></script>
<script src="assets/js/index/baloon_template.js"></script>
<script src="assets/js/index/baloon_send.js"></script>
{% endblock %}